body
{
    overflow-x: hidden;
}
fieldset{
    border: 2px solid grey;
    border-radius: 5px;
}
legend{
    margin-left: 20px;
    border: 2px solid orange;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #101010;
}
.soci-contact{
    display: flex;
    flex-wrap: wrap;
}
.messenger{
    width: 200px;
    position: relative;
    height: 40px;
    margin: 10px;
    background-color: #0084FF;
    border-radius: 20px;
}
.messenger:hover{
    filter: brightness(80%);
}
.messenger img{
    padding: 5px;
    margin-left: 3px;
    width: 40px;
    height: 40px;
}
.email{
    width: 160px;
    position: relative;
    height: 40px;
    margin: 10px;
    background-color: #c8232c;
    border-radius: 20px;
}
.email:hover{
    filter: brightness(80%);
}
.email img{
    padding: 5px;
    margin-left: 3px;
    width: 40px;
    height: 40px;
}
.text{
    position: absolute;
    top: 50%;
    right: 4px;
    font-size: 16px;
    font-weight: bold;
    transform: translate(-0%, -50%);
}
a{
    color: aliceblue;
}