*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back-part{
    height: 30vh;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #000000;
}
.social-icons{
    position: absolute;
    font-size: 25px;
    top: 45%;
    left: 15%;
}
.social-icons img{
    width: 25px;
    height: 25px;
    margin: 2px;
}
.sign img{
    position: absolute;
    height: 120px;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}
#dwn-icon{
    padding-left: 10px;
}
.btn-dwn{
    position: absolute;
    right: 10%;
    top: 45%;
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    transition: 1s;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}
.btn-dwn:hover{
    cursor: pointer;
    color: darkorange;
    background: none;
    border: 1px solid darkorange;
}

.per-img{
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(../images/bback.jpg);
    background-size: cover;
    background-position: center;
    top: 37%;
    left: 50%;
    border: 3px #fff;
    border-style: solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.main-part{
    margin-top: 110px;
}
.main-part h2{
    text-align: center;
    font-size: 30px;
    font-family: 'audiowide', cursive;;
}
fieldset{
    width: 100%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.fieldset-cover{
    padding: 10px;
}
legend{
    font-size: 18px;
    margin-left: 30px;
    padding: 10px;
    letter-spacing: 3px;
    border: 2px solid darkorange;
    color: white;
    background-color: darkorange;
    font-family: 'Righteous', monospace;
    border-radius: 4px;
}
.per-detail, .work-detail{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin: 10px;
}
.edu-detail{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.per-detail .edu-detail .work-detail, th{
    text-align:left;
    padding: 5px;
    font-size: 20px;
    font-family: 'Kelly Slab';
    letter-spacing: 3px;
}
.per-detail .edu-detail .work-detail, td{
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Baloo Tamma', sans-serif;
}
caption{
    font-size: 20px;
    float: left;
    margin-left: 10%;
    font-family: 'kelly slab', monospace;
    font-weight: bold;
    color:darkgreen;
}
.skill-section{
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f2f2f2;
    max-width: 1300px;
    margin-bottom: 20px;
    
}
.skill-part{
    display: flex;
    flex-flow: wrap row;
    max-width: 1200px;
}
.skill-part p{
    font-size: 20px;
    font-weight: 600;
}
@media(max-width:800px){
    .skill-part{
        flex-direction: column;
    }
    table{
        width: 100%;
    }
}
.design-skill{
    flex: 1;
    background-color: #fff;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
}
.prgm-skill{
    flex: 1;
    background-color: #fff;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
}
.container-skill {
    width: 100%;
    border-radius: 10px;
    background-color: #ddd;
}
.skills {
    text-align: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

/*Below code for skills*/
.html {
    width: 90%; 
    background-color: #4CAF50; 
    animation: html 2s;
    
}
@keyframes html{
    from
    {
        width: 0%;
    }
    to{
        width: 90%;
    }
}
.css {
    width: 80%; 
    background-color: #2196F3;
    animation: css 2s;
}
@keyframes css{
    from
    {
        width: 0%;
    }
    to{
        width: 80%;
    }
}
.js{
    width: 60%;
    background-color: darkorange;
    animation: js 2s;
}
@keyframes js{
    from
    {
        width: 0%;
    }
    to{
        width: 60%;
    }
}
.java{
    width: 60%; 
    background-color: darkgreen;
    animation: java 2s;
}
@keyframes java{
    from
    {
        width: 0%;
    }
    to{
        width: 60%;
    }
}
.dart{ 
    width: 55%; 
    background-color: firebrick;
    animation: dart 2s;
}
@keyframes dart{
    from
    {
        width: 0%;
    }
    to{
        width: 55%;
    }
}
.sql{ 
    width: 70%; 
    background-color: darkmagenta;
    animation: sql 2s;
}
@keyframes sql{
    from
    {
        width: 0%;
    }
    to{
        width: 70%;
    }
}
.photoshop{
    width: 75%; 
    background-color: blueviolet;
    animation: photoshop 2s;
}
@keyframes photoshop{
    from
    {
        width: 0%;
    }
    to{
        width: 75%;
    }
}
.prepro{
    width: 50%; 
    background-color: deeppink;
    animation: prepro 2s;
}
@keyframes prepro{
    from
    {
        width: 0%;
    }
    to{
        width: 50%;
    }
}
.bootstrap{ 
    width: 70%; 
    background-color: firebrick;
    animation: bootstrap 2s;
}
@keyframes bootstrap{
    from
    {
        width: 0%;
    }
    to{
        width: 70%;
    }
}
.php{
    width: 50%; 
    background-color: blueviolet;
    animation: php 2s;
}
@keyframes php{
    from
    {
        width: 0%;
    }
    to{
        width: 50%;
    }
}